<!DOCTYPE html>
<head>
    <title>Create Blog</title>
</head>

<body>
    <div class="dropdown mt-7">
     <form action="../viewblog/" method="post">
         {% csrf_token %}
         <label for="first_name">First Name: </label>
         <input id="first_name" type="text" name="first_name" placeholder="Enter First Name">
         <br>
         <label for="last_name">Last Name: </label>
         <input id="last_name" type="text" name="last_name" placeholder="Enter Last Name">
         <br>
         <label for="sex">Sex: </label>
         <select id="sex" name="gender">
              <option value="M">Male</option>
              <option value="F">Female</option>
         </select>
         <br>
         <label for="profession">Profession: </label>
         <input id="profession" type="text" name="profession" placeholder="Enter profession">
         <br>
         <label for="title">Title: </label>
         <input id="title" type="text" name="title" placeholder="Enter title of the Blog">
         <br>
         <p>Description</p>
         <textarea id="content" name="blog_content" rows="20" cols="100">Write your blog here!!</textarea>
         <br>
         <input type="submit" value="Submit" name="ok"/>
     </form>
    </div>

</body>
</html>